<div class="calendar">
  <ul class="calnav">
    <li>
      &lt;&lt;
      <a href="#calendar/{{date lastMonth "YYYY/MM"}}">{{date lastMonth "MMMM"}}</a>
    </li>

    <li>{{date month "MMMM"}}</li>

    <li>
      <a href="#calendar/{{date nextMonth "YYYY/MM"}}">{{date nextMonth "MMMM"}}</a>
      &gt;&gt;
    </li>
  </ul>

  <ul class="weekdays">
    <li>Sunday</li>
    <li>Monday</li>
    <li>Tuesday</li>
    <li>Wednesday</li>
    <li>Thursday</li>
    <li>Friday</li>
    <li>Saturday</li>
  </ul>

</div>
